<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MaltCoLottery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C71DC5761CEF99F900EACB3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C71DC58F1CEF99F900EACB3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C71DC59A1CEF99F900EACB3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
